PORT=3000
NODE_ENV=development


REDIS_URI=redis://localhost:6379


OPENAQ_API_KEY=your_openaq_api_key


DATA_DIR=./src/data
PM25_FILE=pm25.json


DB_USER=postgres
DB_HOST=localhost
DB_NAME=airquality
DB_PASSWORD=postgres
DB_PORT=5432
DB_POOL_SIZE=20